html {
  height: 100%;
  min-height: 100%;
  display: block;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5;
  background: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/09ea7e54593319.59622c2924766.png") no-repeat;
  background-size: cover;
  font-size: 15px;
  height: 100%;
  min-height: 100%;
  color: white;
  padding: 0;
  margin: 0;
  position: relative;
}

.container {
  background-color: rgba(30, 40, 50, 0.88);
  height: 100%;
  padding-left: 10%;
  position: relative;
}

h1 {
  margin: 0;
  line-height: 1;
  font-size: 5em;
  letter-spacing: -1px;
  padding-top: 30vh;
}

p {
  color: #DDD;
}

hr {
  height: 6px;
  background-color: white;
  width: 3em;
  margin-left: 0;
}

.powered {
  position: absolute;
  bottom: 1em;
  color: #BBB;
  font-size: 0.8em;
  text-align: center;
  width: 90%;
}

a {
  color: #CCC;
  text-decoration: none;
  -webkit-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
a:hover {
  color: white;
}
